@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0px;
}
body{
    background-color: #F6F4D2;
}
/* Globales */
h1, h2{
    color: #639142;
}
h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
h3{
    margin-top: 10px;
}
p{
    margin-top: 10px;
}
i{
    color: darkslategrey;
    font-weight: 800;
}
img{
    border-radius: 10px;
    border: 5px solid #adb877;
}
hr{
    border-top: dotted 10px #F6F4D2;;
    border-bottom: solid 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Clases */
.tachuela{
    margin: auto;
    position: relative;
    border: solid 10px #c05625;
    border-radius: 50%;
    background-color: #f77b41;
    width: 30px;
    height: 30px;
}
.ranura{
    width: 70%;
    height: 20px;
    border-radius: 10px;
    border: 5px solid #adb877;
    margin: auto;
    margin-top: 20px;
    background-color: #F6F4D2;
}
.contenedor-madre{
    width: 75%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-top: 20px;
    background-color: #D4E09B;
    box-shadow: 5px 10px  #c7c5a7;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    border: 5px solid #adb877;
}
.contenedor{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.texto-centrado{
    text-align: center;
}
.b-especial{
    color: #f17979;
    font-weight: bolder;
    font-family: 'Fredoka One', cursive;
}
